$color: rgb(121, 121, 121);
$pad: 3vh; //отступ от краёв экрана
$canvasSize: 50vh;

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: $color;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1em;
  overflow-y: hidden;
}

html {
  background-color: rgb(43, 43, 43);
}

h1 {
  color: rgb(182, 181, 181);
  font-size: 1em;
}
h2 {
  font-size: 17px;
  color: rgb(207, 207, 207);
}

li {
  color: rgb(168, 168, 168);
  color: #970000;
  font-weight: bold;
  font-size: 1em;
}

.menu {
  h1 {
    font-size: 3em;
    color: rgb(228, 227, 227);
  }
  .toMenu {
    color: rgb(167, 167, 167);
    position: absolute;
    left: 2vh;
    top: 2vh;
    font-size: 1.1vh;
    font-weight: bold;
    transition: all 0.2s ease;
    &:hover {
      color: rgb(87, 87, 87);
    }
  }
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 93vh;
  width: 93vw;
  margin: 1vh auto;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(56, 56, 56);
}

.grid {
  position: relative;
  margin-top: 10px;
  #canvas {
    background-color: #858585;
    color: rgb(192, 0, 0);
    // max-width: 90vw;
    // max-height: 90vw;
    width: 35vh;
    height: 35vh;
    // filter: opacity(0.7);
    color: rgb(199, 0, 0);
    cursor: pointer;
    user-select: none;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  }
}

.restart {
  color: rgb(231, 187, 40);
  margin-top: 10px;
  font-size: 1.5em;
}

.options {
  margin: 10px 0 10px 0;
  display: flex;
  align-items: center;
  display: block;
  user-select: none;
  p {
    font-weight: bold;
    font-size: 18px;
    color: rgb(221, 221, 221);
  }
  .fieldSizeValue {
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
    color: rgb(230, 153, 38);
  }
  .ships {
    margin-top: 20px;
    h6 {
      font-size: 17px;
      font-weight: bold;
      color: rgb(177, 82, 82);
      margin: 10px 0;
    }

    .choices {
      display: block;
      li {
        margin-top: 10px;
        label {
          color: rgb(160, 160, 160);
          font-size: 16px;
          font-weight: bolder;
          cursor: pointer;
        }
      }
    }
    .shipsValues {
      margin: 15px 0 0 0;
    }
    #valueShip {
      font-size: 1em;
      color: rgb(184, 184, 184);
    }
  }
  #fieldSize,
  #shipsRate {
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    background: #17689e;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 5px;

    cursor: pointer;
    &:hover {
      opacity: 1;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 12px;
      height: 12px;
      border-radius: 20px;
      background: rgb(255, 255, 255);
      border: 2px solid rgb(27, 69, 158);
      cursor: pointer;
    }
    &::-moz-range-thumb {
      cursor: pointer;
    }
  }
  select {
    margin-left: 10px;
  }
}

.battle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  align-items: center;
  h2 {
    font-size: 1.5vh;
    margin: 1vh 0 0 0;
  }
  .grid {
    margin: 0;
  }
  .field {
    position: relative;
    margin: 10px 10px;
    background-color: rgb(46, 46, 46);
    .message {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35vh;
      height: 35vh;
      user-select: none;
      cursor: pointer;
      &.miss {
        filter: opacity(0.7);
        background: rgb(51, 51, 51);
      }
      &.destroyed {
        filter: opacity(0.7);
        background-color: rgb(41, 41, 41);
      }
      &.computer {
        filter: opacity(0.7);
        background-color: rgb(9, 75, 69);
      }
      &.win {
        filter: opacity(0.7);
        background-color: rgb(0, 0, 0);
      }
      &.loose {
        filter: opacity(0.7);
        background-color: rgb(0, 0, 0);
      }
      &__text {
        filter: opacity(2);
        position: absolute;
        font-size: 4vh;
        font-weight: bold;
        color: rgb(255, 255, 255);
      }
    }
  }
}

.toCreate {
  margin-top: 10px;
  padding: 6px 20px;
  background-color: rgb(235, 235, 235);
  border-radius: 20px;
  font-weight: bold;
  color: rgb(75, 75, 75);
  transition: all 0.2s ease;
  svg {
    width: 10px;
    height: 10px;
  }

  &:hover {
    filter: opacity(0.7);
  }
  &:active {
    filter: opacity(0.5);
  }
  // &.bot {
  //   margin-top: 0;
  // }
}

.creationPlayers {
  max-width: 500px;
  h1 {
    color: rgb(207, 207, 207);
    margin-bottom: 10px;
    font-size: 2em;
  }
  .playersList {
    border: none;
    display: flex;
    margin: 0 0 0 0;
    justify-content: center;
    align-items: center;
    user-select: none;
    flex-wrap: wrap;
    &__li {
      filter: opacity(0.7);
      justify-content: center;
      text-align: center;
      padding: 4px 12px;
      margin: 10px 5px 5px 5px;
      border-radius: 20px;
      background: #fff;
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.12);
      user-select: none;
      transition: all 0.3s ease;
      font-weight: bold;
      color: rgb(39, 39, 39);
      cursor: pointer;
      &:hover {
        color: rgb(255, 255, 255);
        background: rgb(0, 0, 0);
      }
    }
  }
  .createPlayers {
    display: flex;
    flex-direction: column;

    .textInput {
      margin: 10px 0;
      padding: 7px 0 7px 0;
      font-size: 1em;
      font-weight: bold;
      text-align: center;
      border-radius: 20px;
      border: none;
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
      transition: all 0.2s ease;
      background-color: rgb(66, 66, 66);
      color: rgb(207, 206, 206);
      &::placeholder {
        color: #9c9c9c;
      }
      &:hover {
        filter: opacity(0.7);
      }
    }
    .createPlayerBtn {
      background-color: rgb(66, 66, 66);
      color: rgb(175, 174, 174);
      padding: 5px 0;
      text-align: center;
      border-radius: 20px;
      border: none;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.2s ease;
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
      &:hover {
        filter: opacity(0.7);
      }
      &:active {
        filter: opacity(0.3);
      }
    }
    .toCreate {
      &.fields {
        filter: opacity(0.7);
        justify-content: center;
        text-align: center;
        padding: 7px 0;
        margin: 10px 0 5px 0;
        border-radius: 20px;
        background: rgb(68, 68, 68);
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
        user-select: none;
        transition: all 0.3s ease;
        font-weight: bold;
        color: rgb(201, 181, 5);
        &:hover {
          filter: opacity(0.3);
        }
        &:active {
          filter: opacity(0.7);
        }
      }
    }
  }
}

#shipsList,
#buttonsList {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  flex-wrap: wrap;
  font-size: 1vh;
  width: $canvasSize - 13vh;
  margin: 0 auto;
  padding: 1vh 0;

  &__li,
  #randomize,
  #next,
  #start {
    filter: opacity(0.7);
    font-size: 1.2vh;
    justify-content: center;
    text-align: center;
    padding: 3px 16px 0px 15px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    user-select: none;
    color: rgb(148, 147, 147);
  }
}

.creationFields {
  h1 {
    color: rgb(182, 181, 181);
    font-size: 1.5vh;
  }

  #buttonsList {
    justify-content: center;
    #randomize,
    #next,
    #start {
      font-weight: bolder;
      cursor: pointer;
      transition: all 0.3s ease;
      color: rgb(51, 51, 51);
      border: none;
      background: none;
      &:hover {
        filter: opacity(0.5);
      }
      &:active {
        filter: opacity(0.9);
      }
    }
    #randomize {
      color: rgb(255, 233, 36);
    }

    #next {
      color: rgb(150, 199, 16);
    }

    #start {
      color: rgb(243, 243, 243);
    }
  }

  #canvas {
    width: $canvasSize;
    height: $canvasSize;
  }
}

@media screen and (min-width: 600px) {
  #shipsList,
  #buttonsList {
    li {
      font-size: 1.1vh;
    }
  }
}
